* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    font-family: "OpenSans-ExtraBold";
}

#header {
    width: 100%;
    height: 70px;
    background-color: black;
}

#header a {
}

.top-nav, nav ul{
    display: flex;
    line-height: 70px;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

.logo , nav ul{
    margin: 0 10px;
}

span {
    margin-left: 2px;
    color: red;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 0 5px;
}

li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}



#banner div a img{
   border: 5px solid #000;
   border-radius: 10px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}