/* // Example
// Apply styles starting from medium devices and up to extra large devices */
@media (max-width: 419.98px) { 
    html, body {
        background: red;
        font-size: 16px;
    }
 }
@media (min-width: 420px) and (max-width: 575.98px) { 
        html, body {
        background: green;
        font-size: 18px;
    }
 }
@media (min-width: 576px) and (max-width: 767.98px) { 
        html, body {
        background: yellow;
        font-size: 20px;
    }
 }
@media (min-width: 768px) and (max-width: 1199.98px) { 
        html, body {
        background: blue;
        font-size: 22px;
    }
 }
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    html, body {
        background: violet;
        font-size:24px;
    }
 }
@media (min-width: 1400px) and (max-width: 1599.98px) { 
        html, body {
        background: greenyellow;
        font-size: 26px;
    }
 }
@media (min-width: 1600px) { 
        html, body {
        background: cornflowerblue;
        font-size: 28px;
    }
 }