@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Lato-Black";
    src: url('../fonts/Lato/Lato-Black.ttf');
}
